body {
  background: #799F0C;  
  background: -webkit-linear-gradient(to right, #ACBB78, #799F0C); background: linear-gradient(to right, #ACBB78, #799F0C); 
}


.card {
  width: 50vw;
  height: 50vh;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #ffe259;
 
}
